---
layout: default
title: Hasan Basri
description: "Hasan Basri aka creatorb - Muslim being to bigger contributor for islamic software development."
---

<article class="is-post">

    <img class="me" src="/images/{{ site.avatar }}" alt="Photo of Hasan Basri creatorb" />

    <header>
        <h2>{{ site.name }}</h2>
        <span class="byline">{{ site.description }}</span>
    </header>

    <p>لسَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ</p>
    <p>Holla, Welcome to my another home on the internet!!! Really, I 'm so tired have many house, So in here I'm going to turn it into a small class with a lot of libraries although not many students, hahaha yeah it's okkay because I'm not be a teacher but i just want to be a muslim programmer and bigger contributor for my life way, ISLAM. :sunglasses: </p> 

    <p>This site contains various pieces of writing across my various
    interests, java and android development. Actually all of content on
    <a href="https://creatorb.pondokprogrammer.com">creatorb.pondokprogrammer.com</a> is managed over here.</p>


</article>

{% include post-list.html posts=paginator.posts %}

{% include tip-box.html %}
