{% if site.gittip %}
<div class="tip-box">
    <p>
        <img class="pull-right bitcoin" src="/images/creatorb-qr-codebe.png" alt="creatorb.github.io" />
        <a href="{{ site.gittip }}"><i class="fa fa-gittip fa-3x pull-left"></i></a>
        Hasan Basri aka creatorb, Muslim passionate in java programming and android development. Now being to bigger contributor for islam in software development. When you want to contribute for islamic opensource you can visit <a href="https://github.com/muslimopensourcesoftware">MOSS - Muslim Open Source Software</a>.
        Welcome to build amal jariyah together and happy contributing.
    </p>
</div>
{% endif %}
